/* common shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    margin-bottom: 140px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 610px 0 610px;
    margin-bottom: 48px;
}



/* banner section style */
.banner {
    display: flex;
    padding: 50px 240px 0px 240px;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
    gap: 90px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.flower-greeting {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* offer section */

.offer-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-off {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 429px 100px 350px;
    gap: 185px;
}

.sign-up {
    text-align: center;
}

.off-color {
    color: #E55473;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* image gallery */
.image-gallery {
    display: flex;
    margin: 0 240px 0 240px;
    margin-bottom: 128px;
    gap: 24px;
}

.latest-section-bg {
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 128px 210px 128px 240px;
}

.latest-section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 122px;
}

.email-input {
    display: flex;
    gap: 16px;
    text-align: center;
    padding: 0px 287px 0px 300px;

}

.email {
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    width: 700px;
    height: 25px;
}

/* footer */
.footer-bg {
    background-color: #111010;
    padding: 100px 0px 128px 0px;
}

.footer-section-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;

}

.footer-flower-color {
    color: #E55473;
}

.footer-section-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 32px 0px 80px 0px;

}